@charset "UTF-8";

 table {
  margin: auto; 
  width: 70% 
  }
  
 #ptitle { 
 background-color: orange; }
 
 #productListTitle{
 margin: auto;
 font-size: 25px ;
 font-weight: bold;
 text-align: center; 
 }
